/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common */
.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* not used */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* pink header  */
header {
    background-color: #E579E6;
    height: 140px;
    margin-top: 25px;
}

/* first yellow section */
section:first-child {
    background-color: #E1D67A;
    height: 500px;
    margin: 30px 0;
}

/* second blue section */
section:last-child {
    background-color: #0086FF;
} 

/* div floating light-blue  */
section:last-child div {
    background-color: #ABCFE7;
    /* font-size: 0px; */
}

/* purple footer  */
footer {
    background-color: #8801FE;
    height: 60px;
    margin: 10px 0 30px;
}

/* first light-blue div  */
.top {
    height: 90px;
}

/* three columns */
.left, .center, .right {
    margin: 24px 0px;
    height: 540px;
    display: inline-block;
}

.right, .left {
    width: 23%;
}
.right {
    float: right;
}
.left {
    float: left
}

.center {
    width: 50%;
    margin: 24px 2%;
}