/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common */
.container {
    width: 80%;
    margin: auto;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* pink header  */
header {
    background-color: #E579E6;
    height: 140px;
    margin-top: 25px;
}

/* main: first yellow section */
section:first-child {
    background-color: #E1D67A;
    height: 500px;
    margin: 30px 0;
}
